# ignore everything
/*

!.gitignore
!.bash_aliases
!.bashrc
!.dir_colors
!.gitconfig
!.profile
!.tmux.conf
!.psqlrc
!.pspgconf
!.ideavimrc

# github readme
!/.github
/.github/*
!/.github/README.md

!/.config
/.config/*

# neovim
!/.config/nvim
/.config/nvim/plugin/packer_compiled.lua

# alacritty
!/.config/alacritty

# pgcli
!/.config/pgcli/
/.config/pgcli/*
!/.config/pgcli/config

# gitui
!/.config/gitui/
/.config/gitui/*
!/.config/gitui/key_bindings.ron

